.component {

}

.table {

    margin:1%;
    width:98%;

}

.handle {

    margin-right: 5px;
}

.tbody {

min-height: 500px;
}

.rowDragging {

    width: 100px;
    background-color: #f8f9ff;

}

.rowNotDragging {

    width: 100px;

}

.cell {



}