.component {


}

.button {

    width: 150px;
    margin: 1px;
    color: black;

}

.appBar{

    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}